<html>
  <head>
    <script src="[[[.CdnPrefix]]]/js/jquery.js"></script>
    <script src="[[[.CdnPrefix]]]/js/vue.js"></script>
    <script src="[[[.CdnPrefix]]]/js/highlight.js"></script>
    <script src="[[[.CdnPrefix]]]/js/chartist.js"></script>
    <script src="[[[.CdnPrefix]]]/js/dashboard.js"></script>
    <link rel="icon" href="[[[.CdnPrefix]]]/favicon.ico">
    <link rel="stylesheet" href="[[[.CdnPrefix]]]/css/chartist.css">
    <link rel="stylesheet" href="[[[.CdnPrefix]]]/css/dashboard.css">
    <title>Comentario: Dashboard</title>
  </head>

  <div id="navbar" class="navbar">
    <a href="[[[.Origin]]]/" class="navbar-item navbar-logo-text"><img src="[[[.CdnPrefix]]]/images/logo.svg" class="navbar-logo" alt="">Comentario</a>
    <div class="navbar-item">
      <a href="[[[.Origin]]]/settings" class="navbar-item">Settings</a>
      <a href="[[[.Origin]]]/logout" class="navbar-item">Logout</a>
      <div class="float-right"><b><span id="owner-name"></span></b></div>
    </div>
  </div>

  <script>
  window.onload = function() {
    window.comentario.selfGet(function() {
      window.comentario.vueConstruct(function() {
        window.comentario.navbarFill();
        window.comentario.domainRefresh();
        $(document).ready(function(){
          $("ul.tabs li").click(function(){
            const tab_id = $(this).attr("data-tab");

            $("ul.tabs li").removeClass("current");
            $(".content").removeClass("current");

            $(this).addClass("current");
            $("#"+tab_id).addClass("current");
          });
        });
      });
    });
  };
  </script>

  <div class="global-error" id="global-error"></div>
  <div class="global-ok" id="global-ok"></div>

  <div id="dashboard" class="dashboard-container">
    <div class="pane-left">
      <div class="tree" v-if="domains.length === 0 || domains[0].show === false">
        <img class="tree-svg" src="[[[.CdnPrefix]]]/images/tree.svg" alt="">
        It's so quiet in here.
      </div>

      <div class="pane-setting" v-for="domain in domains" v-on:click="window.comentario.domainSelect(domain.domain)" id="{{domain.hex}}" v-bind:class="{selected: domain.selected}" v-if="domain.show">
        <div class="pane-setting-inside">
          <div class="setting-title">{{domain.name}}</div>
          <div class="setting-subtitle">{{domain.domain}}</div>
        </div>
      </div>
      <div class="pane-setting" id="domain-add" onclick="document.location.hash='#new-domain-modal'">
        <div class="pane-setting-inside super-setting">
          <div class="super-setting-title">+</div>
          <div class="super-setting-text">New Domain</div>
        </div>
      </div>
    </div>

    <div class="pane-middle">
      <div v-if="showSettings" class="pane-setting" v-for="setting in settings" v-on:click="window.comentario.settingSelect(setting.id)" id="{{setting.id}}" v-bind:class="{selected: setting.selected}">
        <div class="pane-setting-inside">
          <div class="setting-title">{{setting.text}}</div>
          <div class="setting-subtitle">{{setting.meaning}}</div>
        </div>
      </div>
      <div class="select-a-domain" v-if="!showSettings">
        Select a website on the left.
      </div>
    </div>
    <div class="pane-right">

      <!-- Installation -->
      <div id="installation-view" class="view hidden">
        <div class="view-inside">
          <div class="mid-view">
            <div class="tabs-container">
              <div class="tab">
                <ul class="tabs">
                  <li class="tab-link original current" data-tab="installation-tab-1">Universal Snippet</li>
                </ul>

                <div id="installation-tab-1" class="content original current">
                  <div class="normal-text">
                    Copy the following piece of HTML code and paste it where you'd like Comentario to load.
                  </div>

                  <pre><code id="code-div" class="html"></code></pre>

                  <div class="normal-text">
                    And that's it. All your settings, themes, and comments would be automagically loaded. Comentario is mobile-responsive too, as it simply fills the container it is put in.
                  </div>

                  <br>

                  <div class="normal-text">
                    Read the Comentario documentation <a href="https://docs.comentario.app/">on configuration</a>.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Stats -->
      <div id="statistics-view" class="view hidden">
        <div class="view-inside">
          <div class="mid-view center">
            <div class="center center-title">
              Analytics
            </div>

            <div class="normal-text">
              Anonymous statistics such as monthly pageviews and number of comments
            </div>

            <div class="stat">
              <div class="number">
                <div class="digits gray-digits">{{domains[cd].viewsLast30Days.zeros}}</div>
                <div class="digits">{{domains[cd].viewsLast30Days.num}}</div>
                <div class="digits dark-gray-digits">{{domains[cd].viewsLast30Days.units}}</div>
              </div>
              <div class="text">
                views in the last 30 days
              </div>
              <div class="graph" id="views-graph"></div>
            </div>

            <div class="stat">
              <div class="number">
                <div class="digits gray-digits">{{domains[cd].commentsLast30Days.zeros}}</div>
                <div class="digits">{{domains[cd].commentsLast30Days.num}}</div>
                <div class="digits dark-gray-digits">{{domains[cd].commentsLast30Days.units}}</div>
              </div>
              <div class="text">
                comments in the last 30 days
              </div>
              <div class="graph" id="comments-graph"></div>
            </div>
          </div>
        </div>
      </div>

      <!-- moderation -->
      <div id="moderation-view" class="view hidden">
        <div class="view-inside">
          <div class="mid-view">
            <div class="tabs-container">
              <div class="tab">
                <ul class="tabs">
                  <li class="tab-link original current" data-tab="mod-tab-1">General</li>
                  <li class="tab-link" data-tab="mod-tab-2">Add/Remove Moderators</li>
                </ul>

                <div id="mod-tab-1" class="content original current">
                  <div class="question">
                    <div class="title">
                      Comment Filtering
                    </div>
                    <div class="answer">
                      <div class="row no-border comentario-round-check">
                        <input type="checkbox" v-model="domains[cd].autoSpamFilter" id="spam-filtering">
                        <label for="spam-filtering">Automatic spam filtering</label>
                      </div>

                      <div class="row no-border comentario-round-check">
                        <input type="checkbox" v-model="domains[cd].requireModeration" id="require-moderation">
                        <label for="require-moderation">Require all comments to be approved manually</label>
                      </div>

                      <div class="row no-border comentario-round-check">
                        <input type="checkbox" v-model="domains[cd].moderateAllAnonymous" id="moderate-all-anonymous">
                        <label for="moderate-all-anonymous">Require anonymous comments to be approved manually</label>
                      </div>
                    </div>
                  </div>

                  <div class="question">
                    <div class="title">
                      Email Schedule
                    </div>
                    <div class="answer">
                      <div class="row no-border comentario-round-check">
                        <input type="radio" id="email-all" value="all" v-model="domains[cd].emailNotificationPolicy">
                        <label for="email-all">Whenever a new comment is created</label>
                      </div>
                      <div class="row no-border comentario-round-check">
                        <input type="radio" id="email-pending-moderation" value="pending-moderation" v-model="domains[cd].emailNotificationPolicy">
                        <label for="email-pending-moderation">Only for comments pending moderation</label>
                      </div>
                      <div class="row no-border comentario-round-check">
                        <input type="radio" id="email-none" value="none" v-model="domains[cd].emailNotificationPolicy">
                        <label for="email-none">Do not email moderators</label>
                      </div>
                    </div>
                  </div>

                  <div class="question">
                    <div class="title">
                      Comment Sorting
                    </div>
                    <div class="answer">
                      <div class="row no-border comentario-round-check">
                        <input type="radio" id="defaultSortPolicy-score-desc" value="score-desc" v-model="domains[cd].defaultSortPolicy">
                        <label for="defaultSortPolicy-score-desc">Most upvoted first</label>
                      </div>
                      <div class="row no-border comentario-round-check">
                        <input type="radio" id="defaultSortPolicy-creationdate-desc" value="creationdate-desc" v-model="domains[cd].defaultSortPolicy">
                        <label for="defaultSortPolicy-creationdate-desc">Newest first</label>
                      </div>
                      <div class="row no-border comentario-round-check">
                        <input type="radio" id="defaultSortPolicy-creationdate-asc" value="creationdate-asc" v-model="domains[cd].defaultSortPolicy">
                        <label for="defaultSortPolicy-creationdate-asc">Oldest first</label>
                      </div>
                    </div>
                  </div>

                  <div class="center">
                    <button id="save-general-button" onclick="window.comentario.generalSaveHandler()" class="button">Save Changes</button>
                  </div>
                </div>

                <div id="mod-tab-2" class="content">
                  <div class="normal-text">
                    Moderators have the power to approve/delete comments and lock threads. Once you add an user as a moderator, shiny new buttons will appear on each comment on each page when they log in.<br><br>

                    You're still the only administrator and the only person who can add and remove moderators. Moderators do not have access to this dashboard. Their access is restricted to pages on your website.
                  </div>
                  <div class="comentario-email-container">
                    <div class="comentario-email">
                      <input class="comentario-input" type="text" id="new-mod" placeholder="Email">
                      <button id="new-mod-button" class="comentario-email-button" onclick="window.comentario.moderatorNewHandler()">Add moderator</button>
                    </div>
                  </div>
                  <div class="mod-emails-container">
                    <div class="content">
                      <div class="mod-email" v-for="email in domains[cd].moderators" v-if="domains[cd].moderators.length > 0">
                        <div class="email">{{email.email}}</div>
                        <div class="delete" v-on:click="window.comentario.moderatorDeleteHandler(email.email)">Delete</div>
                        <div class="date">added {{email.timeAgo}}</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Configure Domain -->
      <div id="general-view" class="view hidden">
        <div class="view-inside">
          <div class="mid-view">
            <div class="tabs-container">
              <div class="tab">
                <ul class="tabs">
                  <li class="tab-link original current" data-tab="configure-tab-1">General</li>
                  <li class="tab-link" data-tab="configure-tab-2">Export Data</li>
                </ul>

                <div id="configure-tab-1" class="content original current">
                  <div class="box">
                    <div class="row">
                      <div class="label">Website Name</div>
                      <input class="input gray-input" id="cur-domain-name" type="text" :placeholder="domains[cd].origName" v-model="domains[cd].name">
                    </div>
                  </div>

                  <div class="question">
                    <div class="title">
                      Authentication Options
                    </div>
                    <div class="answer">
                      <div class="row no-border comentario-round-check">
                        <input type="checkbox" v-model="domains[cd].allowAnonymous" id="allow-anonymous">
                        <label for="allow-anonymous">Anonymous comments</label>
                      </div>

                      <div class="row no-border comentario-round-check">
                        <input type="checkbox" v-model="domains[cd].idps.commento" id="commento-provider">
                        <label for="commento-provider">Email address login</label>
                      </div>

                      <div class="row no-border comentario-round-check" v-if="configuredOauths.google">
                        <input type="checkbox" v-model="domains[cd].idps.google" id="google-provider">
                        <label for="google-provider">Google login</label>
                      </div>

                      <div class="row no-border comentario-round-check" v-if="configuredOauths.github">
                        <input type="checkbox" v-model="domains[cd].idps.github" id="github-provider">
                        <label for="github-provider">GitHub login</label>
                      </div>

                      <div class="row no-border comentario-round-check" v-if="configuredOauths.gitlab">
                        <input type="checkbox" v-model="domains[cd].idps.gitlab" id="gitlab-provider">
                        <label for="gitlab-provider">GitLab login</label>
                      </div>

                      <div class="row no-border comentario-round-check" v-if="configuredOauths.twitter">
                        <input type="checkbox" v-model="domains[cd].idps.twitter" id="twitter-provider">
                        <label for="twitter-provider">Twitter login</label>
                      </div>

                      <div class="row no-border comentario-round-check">
                        <input type="checkbox" v-model="domains[cd].idps.sso" id="sso-provider" @change="window.comentario.ssoProviderChangeHandler()">
                        <label for="sso-provider">Single sign-on</label>
                      </div>

                      <div class="indent" v-if="domains[cd].idps.sso">
                        <div class="row">
                          <div class="label">HMAC shared secret key</div>
                          <input class="input gray-input monospace" id="sso-secret" readonly type="text" placeholder="Loading..." v-model="domains[cd].ssoSecret">
                        </div>
                        <div class="row">
                          <div class="label">Redirect URL</div>
                          <input class="input gray-input" id="sso-url" type="text" :placeholder="domains[cd].ssoUrl" v-model="domains[cd].ssoUrl">
                        </div>
                        <div class="normal-text">
                          <div class="subtext-container">
                            <div class="subtext">
                              Read the Comentario documentation <a href="https://docs.comentario.app/">on single sign-on</a>.
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="warning"
                           v-if="!domains[cd].allowAnonymous && !domains[cd].idps.commento && (!configuredOauths.google || !domains[cd].idps.google) && (!configuredOauths.github || !domains[cd].idps.github) && (!configuredOauths.gitlab || !domains[cd].idps.gitlab) && (!configuredOauths.twitter || !domains[cd].idps.twitter) && !domains[cd].idps.sso">
                        You have disabled all authentication options. Your readers will not be able to login, create comments, or vote.
                      </div>
                    </div>
                  </div>

                  <div class="question">
                    <div class="title">
                      Default Comment Sorting
                    </div>
                    <div class="answer">
                      <div class="row no-border comentario-round-check">
                        <input type="radio" id="defaultSortPolicy-score-desc" value="score-desc" v-model="domains[cd].defaultSortPolicy">
                        <label for="defaultSortPolicy-score-desc">Most upvoted first</label>
                      </div>
                      <div class="row no-border comentario-round-check">
                        <input type="radio" id="defaultSortPolicy-creationdate-desc" value="creationdate-desc" v-model="domains[cd].defaultSortPolicy">
                        <label for="defaultSortPolicy-creationdate-desc">Newest first</label>
                      </div>
                      <div class="row no-border comentario-round-check">
                        <input type="radio" id="defaultSortPolicy-creationdate-asc" value="creationdate-asc" v-model="domains[cd].defaultSortPolicy">
                        <label for="defaultSortPolicy-creationdate-asc">Oldest first</label>
                      </div>
                    </div>
                  </div>

                  <div class="center">
                    <button id="save-general-button" onclick="window.comentario.generalSaveHandler()" class="button">Save Changes</button>
                  </div>
                </div>

                <div id="configure-tab-2" class="content">
                  <div class="normal-text">
                    You can export an archive of this domain's data (which includes all comments and commenters) in the JSON format. To initiate and queue an archive request, click the button below. You will receive an email containing the archive once it's ready.<br><br>

                    Please note that this requires valid SMTP settings in order to send emails.<br><br>

                    <div class="center">
                      <button id="domain-export-button" onclick="window.comentario.domainExportBegin()" class="button">Initiate Data Export</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Import Comments -->
      <div id="import-view" class="view hidden">
        <div class="view-inside">
          <div class="mid-view">
            <div class="tabs-container">
              <div class="tab">
                <ul class="tabs">
                  <li class="tab-link original current" data-tab="import-tab-1">Disqus</li>
                  <li class="tab-link" data-tab="import-tab-2">Comentario</li>
                </ul>

                <div id="import-tab-1" class="content original current">
                  <div class="normal-text">
                    If you're currently using Disqus, you can import all comments into Comentario:
                    <ul>
                      <li>
                        Go to <a href="https://disqus.com/admin/discussions/export/">the admin export section</a> in Disqus and click on <b>Export Comments</b>. This should start the process of exporting your comments in the background.
                      </li>

                      <li>
                        You'll receive an email from Disqus with a link to a compressed archive of all comments and associated data. Copy and paste that link here to start the import process:

                        <br><br>

                        <div class="comentario-email-container">
                          <div class="comentario-email">
                            <input class="comentario-input" type="text" id="disqus-url" placeholder="https://media.disqus.com/uploads/...">
                            <button id="disqus-import-button" class="comentario-email-button" onclick="window.comentario.importDisqus()">Import</button>
                          </div>
                        </div>
                        <!--
                        <div class="subtext-container">
                          <div class="subtext">
                            <div>By using this service, you grant Comentario the permission to download and process your Disqus information.</div>
                          </div>
                        </div>
                        -->

                        <br>
                      </li>

                      <li>
                          Comentario will automatically download this file, extract it, parse it and import comments into Comentario. URL information, comment authors, text formatting, and nested replies will be preserved.
                      </li>

                      <li>
                        It is strongly recommended you do this only once. Importing multiple times may have unintended effects.
                      </li>
                    </ul>
                  </div>
                </div>

                <div id="import-tab-2" class="content">
                  <div class="normal-text">
                    If you've previously exported data from Comentario you can restore it:
                    <ul>
                      <li>
                        Upload your exported data file somewhere in the cloud and generate a direct link to it. Ensure that the export file is a GZIP archive of a JSON file.
                      </li>

                      <li>
                        Copy and paste that link here to start the import process:

                        <br><br>

                        <div class="comentario-email-container">
                          <div class="comentario-email">
                            <input class="comentario-input" type="text" id="comentario-url" placeholder="https://example.com/comentario.json.gz">
                            <button id="commento-import-button" class="comentario-email-button" onclick="window.comentario.importCommento()">Import</button>
                          </div>
                        </div>

                        <br>
                      </li>

                      <li>
                          Comentario will automatically download this file, extract it, parse it and import comments into Comentario. URL information, comment authors, text formatting, and nested replies will be preserved.
                      </li>

                      <li>
                        It is strongly recommended you do this only once. Importing multiple times may have unintended effects.
                      </li>
                    </ul>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>


      <!-- Danger Zone -->
      <div id="danger-view" class="view hidden">
        <div class="view-inside">
          <div class="mid-view">
            <div class="center center-title">
              Danger Zone
            </div>

            <div class="action-buttons-container">
              <div class="action-buttons">
                <div class="action-button" v-if="domains[cd].state !== 'frozen'">
                  <div class="left">
                    <div class="title">
                      Freeze Domain
                    </div>
                    <div class="subtitle">
                      Freezing your domain will disable new comments and voting temporarily. You may unfreeze the domain later.
                    </div>
                  </div>
                  <div class="right">
                    <button onclick="document.location.hash='#freeze-domain-modal'"
                            class="button orange-button">Freeze</button>
                  </div>
                </div>
                <div class="action-button" v-if="domains[cd].state === 'frozen'">
                  <div class="left">
                    <div class="title">
                      Unfreeze Domain
                    </div>
                    <div class="subtitle">
                      Unfreezing your domain will allow readers to create new comments and vote on comments again. You may re-freeze the domain later.
                    </div>
                  </div>
                  <div class="right">
                    <button onclick="document.location.hash='#unfreeze-domain-modal'"
                            class="button green-button">Unfreeze</button>
                  </div>
                </div>
                <div class="action-button">
                  <div class="left">
                    <div class="title">
                      Clear All Comments
                    </div>
                    <div class="subtitle">
                      This will permanently delete all comments without affecting your settings. This may be useful if you want to clear all comments after testing Comentario. Cannot be reversed.
                    </div>
                  </div>
                  <div class="right">
                    <button onclick="document.location.hash='#clear-comments-modal'"
                            class="button big-red-button">Clear</button>
                  </div>
                </div>
                <div class="action-button">
                  <div class="left">
                    <div class="title">
                      Delete Domain
                    </div>
                    <div class="subtitle">
                      This will permanently delete all comments and all data associated with your domain. There is literally no way to retrieve your data once you do this. Please be certain.
                    </div>
                  </div>
                  <div class="right">
                    <button onclick="document.location.hash='#delete-domain-modal'"
                            class="button big-red-button">Delete</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="freeze-domain-modal" class="modal-window">
    <div class="inside">
      <a href="#modal-close" title="Close" class="modal-close"></a>
      <div class="modal-title">Freeze Domain</div>
      <div class="modal-subtitle">
        Are you absolutely sure you want to freeze your domain, thereby making it read-only? You can choose to unfreeze later; this is temporary.
      </div>
      <div class="modal-contents center">
        <button class="button orange-button" onclick="window.comentario.domainFreezeHandler()">Freeze Domain</button>
      </div>
    </div>
  </div>

  <div id="unfreeze-domain-modal" class="modal-window">
    <div class="inside">
      <a href="#modal-close" title="Close" class="modal-close"></a>
      <div class="modal-title">Unfreeze Domain</div>
      <div class="modal-subtitle">
        Are you absolutely sure you want to unfreeze your domain? This will re-allow new comments. You can choose to freeze again in the future.
      </div>
      <div class="modal-contents center">
        <button class="button green-button" onclick="window.comentario.domainUnfreezeHandler()">Unfreeze Domain</button>
      </div>
    </div>
  </div>

  <div id="clear-comments-modal" class="modal-window">
    <div class="inside">
      <a href="#modal-close" title="Close" class="modal-close"></a>
      <div class="modal-title">Clear Comments</div>
      <div class="modal-subtitle">
        Are you absolutely sure you want to clear all comments data? This is not reversible, so please be certain.
      </div>
      <div class="modal-contents center">
        <button class="button big-red-button" onclick="window.comentario.domainClearHandler()">Clear</button>
      </div>
    </div>
  </div>

  <div id="delete-domain-modal" class="modal-window">
    <div class="inside">
      <a href="#modal-close" title="Close" class="modal-close"></a>
      <div class="modal-title">Delete Domain</div>
      <div class="modal-subtitle">
        Are you absolutely sure? This will permanently delete all comments and there is literally no way to retrieve your data once you do this.
      </div>
      <div class="modal-contents center">
        <button class="button big-red-button" onclick="window.comentario.domainDeleteHandler()">Delete Domain</button>
      </div>
    </div>
  </div>

  <div id="new-domain-modal" class="modal-window">
    <div class="inside">
      <a href="#modal-close" title="Close" class="modal-close"></a>
      <div class="modal-title">Add a New Domain</div>
      <div class="modal-contents">
        <div class="box">
          <div class="box-subtitle">
            Remember to double-check the domain, as only connections from this domain will be accepted. You <b>cannot</b> change this in the future. You can change the name, however.
          </div>
          <div class="row">
            <div class="label">Website Name</div>
            <input class="input gray-input" id="new-domain-name" type="text" placeholder="My Blog">
          </div>
          <div class="row">
            <div class="label">Website Domain</div>
            <input class="input gray-input" id="new-domain-domain" type="text" placeholder="https://blog.billie.com">
          </div>
        </div>
        <div id="new-domain-error" class="modal-error-box"></div>
        <div class="center">
          <button id="add-site-button" onclick="window.comentario.domainNewHandler()" class="button">Add Domain</button>
        </div>
      </div>
    </div>
  </div>
</html>
