<div class="footer">
  <div class="footer-inner">
    <div class="links">
      <div class="link-group">
        <div class="header">Your Installation</div>
        <a class="link" href="[[[.Origin]]]/login">Login</a>
        <a class="link" href="[[[.Origin]]]/signup">Signup</a>
        <a class="link" href="[[[.Origin]]]/dashboard">Dashboard</a>
      </div>
      <div class="link-group">
        <div class="header">Documentation</div>
        <a class="link" href="https://comentario.app/TODO">Documentation</a>
        <a class="link" href="https://gitlab.com/comentario/comentario">Open Source</a>
      </div>
      <div class="link-group">
        <div class="header">About</div>
        <a class="link" href="https://comentario.app">About Comentario</a>
      </div>
    </div>
  </div>
  <div class="copyright">
      Comentario [[[.Version]]]
  </div>
</div>
