@import "colors-main";
@import "common-main";

.button {
    @extend .shadow;
    height: 40px;
    min-width: 110px;
    background: $white;
    border: none;
    outline: none;
    padding: 0 10px 0 10px;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    color: $primary;
    cursor: pointer;
    transition: all 0.2s;

    &:hover {
        color: $blue-6;
    }

    &:disabled {
        cursor: default;
        color: $gray-6;
    }
}
