@import "colors-main";
@import "common-main";

.comentario-email-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 8px 0;

    .comentario-email {
        @extend .shadow;
        border-radius: 4px;
        background: $white;
        width: 100%;
        max-width: 400px;

        .comentario-input {
            display: inline;
            height: 40px;
            background: $white;
            border: none;
            outline: none;
            padding: 5px 5px 5px 10px;
            width: calc(100% - 150px);
        }

        .comentario-input::placeholder {
            color: $gray-5;
        }

        .comentario-email-button {
            height: 40px;
            min-width: 110px;
            float: right;
            background: $white;
            border: none;
            outline: none;
            padding: 0 10px 0 10px;
            border-left: 1px solid $gray-1;
            font-size: 12px;
            text-transform: uppercase;
            text-align: center;
            font-weight: bold;
            color: $blue-7;
            cursor: pointer;
            transition: all 0.2s;
            width: unset;
        }

        .comentario-email-button:hover {
            color: $blue-6;
        }

        .comentario-email-button:disabled {
            cursor: default;
            color: $gray-6;
        }
    }
}
