@import "../colors-main";

$colourize-map: (
     "0": $cyan-7,
     "1": $orange-7,
     "2": $lime-7,
     "3": $red-8,
     "4": $violet-7,
     "5": $grape-7,
     "6": $green-7,
     "7": $yellow-7,
     "8": $gray-6,
     "9": $pink-7,
    "10": $indigo-6,
    "11": $blue-7,
    "12": $cyan-5,
    "13": $orange-5,
    "14": $lime-5,
    "15": $red-6,
    "16": $violet-5,
    "17": $grape-5,
    "18": $green-5,
    "19": $yellow-5,
    "20": $gray-5,
    "21": $pink-5,
    "22": $indigo-4,
);

@each $i, $c in $colourize-map {

    // Generate colouring classes for the left border
    .comentario-border-#{$i} {
        border-left: 2px solid #{$c} !important;
    }

    // Generate background colouring classes
    .comentario-bg-#{$i} {
        background-color: #{$c} !important;
    }
}
