@import "../colors-main";

.comentario-dialog {
    position: absolute;
    z-index: 100;

    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 500px;
    min-height: 100px;
    background-color: $gray-1;
    border: 1px solid $gray-5;
    box-shadow: 0 0 20px rgba(153, 153, 153, 0.5);

    hr {
        border: none;
        background: $gray-6;
        height: 1px;
        margin: 24px 0;
    }

    .comentario-dialog-header {
        position: relative;
        display: flex;
        align-items: center;
        background-color: $gray-3;
        padding: 6px 16px;
        line-height: 24px;
        font-weight: bold;

        .comentario-dialog-btn-close {
            position: absolute;
            top: 0;
            right: 0;
            z-index: 2;
            padding: 10px;
            box-sizing: content-box;
            width: 16px;
            height: 16px;
            color: $black;
            background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
            border: 0;
            opacity: .5;
            cursor: pointer;

            &:hover {
                color: $black;
                text-decoration: none;
                opacity: .75;
            }
        }
    }

    .comentario-dialog-body {
        padding: 16px;
    }

    .comentario-dialog-centered {
        color: $gray-6;
        text-align: center;
        margin: 16px;
    }

    // Arrow

    .comentario-dialog-arrow,
    .comentario-dialog-arrow::before {
        position: absolute;
        z-index: 101;
        width: 12px;
        height: 12px;
        background-color: $gray-1; // Match colour with the dialog body by default
        border: 1px solid transparent;
    }

    .comentario-dialog-arrow {
        visibility: hidden;
    }

    .comentario-dialog-arrow::before {
        visibility: visible;
        content: '';
        transform: rotate(45deg);
    }

    &[data-popper-placement^='top'] > .comentario-dialog-arrow {
        bottom: -6px;
        &::before {
            border-right-color: $gray-5;
            border-bottom-color: $gray-5;
        }
    }

    &[data-popper-placement^='bottom'] > .comentario-dialog-arrow {
        top: -7px;
        &::before {
            background-color: $gray-3; // Match colour with the dialog header when the arrow is on the top
            border-left-color: $gray-5;
            border-top-color: $gray-5;
        }
    }

    &[data-popper-placement^='left'] > .comentario-dialog-arrow {
        right: -6px;
        &::before {
            border-right-color: $gray-5;
            border-top-color: $gray-5;
        }
    }

    &[data-popper-placement^='right'] > .comentario-dialog-arrow {
        left: -7px;
        &::before {
            border-left-color: $gray-5;
            border-bottom-color: $gray-5;
        }
    }
}
