@import "../colors-main";
@import "../checkbox";

textarea,
input[type=text],
input[type=email],
input[type=password] {
    background-color: $white;
    border: 1px solid rgba(50, 50, 93, .1);
    border-radius: 3px;
    color: $gray-7;

    // Draw a red border around invalid controls that have been touched (blurred; gets added programmatically)
    &.comentario-touched:invalid {
        border: 1px solid $red-7;
    }

    &::placeholder {
        color: $gray-5;
    }
}

textarea {
    display: inline-block;
    white-space: pre-wrap;
    padding: 8px;
    outline: none;
    overflow: auto;
    min-height: 130px;
    width: 100%;

    &::placeholder {
        font-size: 18px;
        display: flex;
        line-height: 110px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}

.comentario-comment-editor {
    width: 100%;
    display: flex;
    flex-direction: column;

    .comentario-comment-editor-footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin-top: 12px;

        .comentario-comment-editor-buttons {
            display: flex;
            justify-content: end;
            align-items: center;
            flex-grow: 1;
            flex-wrap: wrap;
        }
    }
}

.comentario-checkbox-container {
    display: inline-block;
    min-height: 22px;
    padding-left: 24px;
    margin-bottom: 2px;

    input {
        float: left;
        margin-left: -24px;
        width: 20px;
        height: 20px;
        vertical-align: top;
        background: #fff no-repeat center;
        background-size: contain;
        border: 1px solid rgba(0,0,0,.25);
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;

        &:checked {
            background-color: $primary;
            border-color: $primary;
        }
        &:disabled {
            pointer-events: none;
            filter: none;
            opacity: 0.5;
        }
        &[disabled],
        &:disabled {
            ~ label {
                cursor: default;
                opacity: 0.5;
            }
        }

    }

    input[type="checkbox"] {
        border-radius: 5px;

        &:checked {
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
        }
    }

    label {
        color: $gray-7;
        font-size: 13px;
    }
}

.comentario-input-group {
    flex: 1 1 100%;
    display: flex;
    align-items: stretch;
    box-shadow: 0 1px 3px rgba(50, 50, 93, .15), 0 1px 0 rgba(0, 0, 0, .02);
    border-radius: 4px;
    background-color: $white;
    margin: 8px;

    .comentario-input {
        flex-grow: 1;
        height: 40px;
        background-color: $white;
        border: none;
        outline: none;
        padding: 5px 5px 5px 10px;

        &::placeholder {
            color: $gray-5;
        }
    }

    .comentario-button {
        box-shadow: none;
        margin: 0;
    }
}
