@import "../colors-main";

.comentario-mod-tools {
    border-top: 1px solid rgba(50, 50, 93, .1);
    font-size: 13px;
    text-transform: uppercase;

    .comentario-mod-tools-title {
        color: $gray-6;
        font-weight: bold;
    }
}
